@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Serif+Display:wght@200;400;700&display=swap");

#people-of-interest-app {
    box-sizing: border-box;
    background-color: #2b5554;
    color: white;
    font-size: 10px;
}

.body {
    display: flex;
    margin: 0;
    height: 100%;
}

.sidenav {
    position: relative;
    width: 15rem;
    background-color: #163838;
    font-family: "Cutive Mono", monospace;
    font-size: 1.4rem;
    transition: width 1s;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    &__image {
        width: 5rem;
        padding: 0.5rem 0;
    }

    &__links {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        padding: 0.5rem 1rem;
        margin: 0;

        a {
            color: white;
            text-decoration: none;
        }

        &_active {
            background-color: #2b5554;
        }

        &:hover {
            background-color: #2b5554;
        }
    }

    &__arrow {
        background-color: #163838;
        position: absolute;
        top: 1rem;
        right: -1.3rem;
        width: 1.3rem;
        height: 1.5rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0.5rem 0.5rem 0;
        cursor: pointer;

        &::after {
            content: "<";
        }

        &_closed {
            &::after {
                content: ">";
            }
        }
    }

    &_closed {
        width: 0;
    }
}

main {
    font-family: "Noto Serif Display", serif;
    background-image: url(https://classes.codingbootcamp.cz/assets/classes/1404/mi6-seal-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .person-detail {
        display: flex;
        flex-direction: column;
        height: 100vh;
        .description {
            font-size: 1rem;
        }
    }
    h1 {
        font-size: 3.6rem;
        font-weight: 300;
        text-align: center;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
